body{
  font-family: 'Poppins', sans-serif;
  /* background-image: url(../images/wine.png); */
  background-size: cover;
}

.btn{
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

.bg-logo{
  background-color: #FF1616;
}

li:hover{
  border-bottom-width: 1px solid #000;
}

.active {
  color:white!important;
} 

a{
  text-decoration: none;
  color: white;
}

/*enlace a carrito*/
.cartPosition{
    position: absolute;
    right: 10px;
    top: 110px;
    z-index: 10;
}

.cartPosition a:hover{
  color:white;
}

.img-size{
  width: 150px;
}

/*--------cuadro realizar compra*/
.oculta{
  display: none;
}
.visible{
  display: block;
}

.bg-pago{
  /* position: relative;
  z-index: 1; */
  background-color: darkgray;
  box-shadow: rgb(202, 192, 158) 2px 1px 15px 2px;
}

.opacity{
  opacity: 0.5;
}

.realizarCompra {
  /* position: absolute;
  z-index: 2; */
  top: 150px;
  left: 0px;
}

.finCompraStyle{
  background-color: burlywood;
  padding: 10px;
  text-align: center;
  margin: 10px;
}


.bgCompras{
  background-image: url(../images/mesa-vino.png);
  
}

.bgIndex{
  background-image: url(/images/wine.png);
}