body{
  background-image: url(../images/wine.png);
  /* background-repeat: no-repeat; */
  background-size: contain;
  height: auto;
  font-family: 'Poppins', sans-serif;
}

.bg-nav-logo{
  background-color: #FF1616;
}

header, .alert{
z-index: 100;
}

li a{
color: rgb(82, 48, 6)!important;
}
.bgHam{
background-color: #e8e105!important
}

li a:hover, a.active{
background-color:  rgba(173, 126, 68, 0.781)!important;
}

.carrito{
min-height: 80vh;
max-width: 1000px;
margin: 0 auto;
width: 100%;
}

.oculta{
display: none;
}
.visible{
display: block;
}

.opacity{
opacity: 0.5;
}


.table__productos{
display: flex;
}

.table__productos > img{
width: 9rem;
object-fit: contain;
border-radius: 6px;
margin-right: 20px;
}

.table__cantidad > input{
width: 40px;
border: none;
outline: 0;
font-size: 16px;
font-weight: 700;
margin-right: 30px;
margin-bottom: 20px;
}

.hide, .remove{
display: none;
}

.finCompraStyle{
background-color: burlywood;
padding: 10px;
text-align: center;
margin: 10px;
}
