body{
  font-family: 'Poppins', sans-serif;
  /* background-image: url(../images/wine.png); */
  background-size: cover;
}

.btn{
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

.bg-logo{
  background-color: #FF1616;
}

li:hover{
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.active{
  color:white!important;
} 

a{
  text-decoration: none;
  color: white;
}

.cartPosition{
    position: absolute;
    right: 10px;
    top: 110px;
    z-index: 10;
}

.img-size{
  width: 150px;
}

/* .drawCart{
max-width: 130vh;
}
 */
/*--------cuadro realizar compra*/
.oculta{
  display: none;
}
.visible{
  display: block;
}

.bg-pago{
  position: relative;
  z-index: 1;
  background-color: darkgray;
  box-shadow: rgb(202, 192, 158) 2px 1px 15px 2px;
}

.opacity{
  opacity: 0.5;
}

.realizarCompra {
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 0px;
}

.finCompraStyle{
  background-color: burlywood;
  padding: 10px;
  text-align: center;
  margin: 10px;
}